h2 {
    text-align:center;
    color:white;
    font-family:Carrois Gothic SC;
}
button {
font-size: 16px;
padding: 10px 10px;
margin: 5px;
background-color: black;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
font-family:Carrois Gothic SC;
}

.button{
display:flex;
justify-content:center;
align-items: center;
}
button:hover {
    background-color:red;
}
p {
    color:white;
    font-family:Carrois Gothic SC;
    text-align:center;
    padding:10px;
}
.disc {
    width: 50px;
    position: absolute;
    right:750px;
    margin-bottom:3%;
}
.one {
    width:300px;
}
.two {
    width:300px;
}
.three {
    width:300px;
}
body {
    background-color:red; 
}
.resume {
    text-align:center;
    border-style:solid;
}
.edu {
    color:white;
    border:solid;
    border-color:black;
    background-color:black;
}
.xp {
    color:white;
    border:solid;
    border-color:black;
    background-color:black;
}
.class {
    color:white;
    border:solid;
    border-color:black;
    background-color:black;
}
.comp {
    color:white;
    border:solid;
    border-color:black;
    background-color:black;
}
.vol {
    color:white;
    border:solid;
    border-color:black;
    background-color:black;
}
.aw {
    color:white;
    border:solid;
    border-color:black;
    background-color:black;
}
.extra {
    color:white;
    border:solid;
    border-color:black;
    background-color:black;
}
.skill {
    color:white;
    border:solid;
    border-color:black;
    background-color:black;
}
.me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:200px;
}
.me2 {
   border:solid;
   border-color:black;
   margin-bottom: -20px; 
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.insta {
    width: 59px;
    position: fixed;
    right:750px;
    margin-bottom:3%;
}
.git {
   float:right;
   width:200px;
   border:solid;
}
.game {
    float:left;
    width:200px;
    border:solid;
}
.cat {
    width:400px;
    border:solid;
    border-color:black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.contact {
    border:solid;
}
.gmail {
    width: 50px;
    right:780px;
    position:absolute;
    left:540;
    margin-bottom:10px;
}
.name {
    color:white;
    border:solid;
    border-color:black;
    background-color:black;
}
.back {
    color:white;
    border:solid;
    border-color:black;
    background-color:black;
}
.projectone {
    color:white;
    border:solid;
    border-color:black;
    background-color:black;
}
.projecttwo {
    color:white;
    border:solid;
    border-color:black;
    background-color:black;
}
.projectthree {
    color:white;
    border:solid;
    border-color:black;
    background-color:black;
}
.hobby {
    color:white;
    border:solid;
    border-color:black;
    background-color:black;
}
.hob {
    border:solid;
    border-color:black;
}