h2 {
    text-align:center;
    color:black;
    font-family:Carrois Gothic SC;
}
button {
font-size: 16px;
padding: 10px 10px;
margin: 5px;
background-color: black;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
font-family:Carrois Gothic SC;
}

.button{
display:flex;
justify-content:center;
align-items: center;
}
button:hover {
    background-color:red;
}
p {
    color:black;
    font-family:Carrois Gothic SC;
}
.disc {
    width: 50px;
    position:absolute;
    right:700px;
    margin-top:4%;
}
.one {
    width:300px;
}
.two {
    width:300px;
}
.three {
    width:300px;
}
body {
    background-repeat: no-repeat; 
}
.resume {
    text-align:center;
    border-style:solid;
}
.edu {
    color:red;
}
.xp {
    color:red;
}
.class {
    color:red;
}
.comp {
    color:red;
}
.vol {
    color:red;
}
.aw {
    color:red;
}
.extra {
    color:red;
}
.skill {
    color:red;
}
.me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:200px;
}
.me2 {
   border:solid;
}